Settings.ini
*.tdat
*.gba
*.sav
*.log
*Attempts.txt
quickload/*.gba
quickload/*.sav
quickload/*.jar
quickload/*.rnqs
ironmon_tracker/images/pokemonAnimated/*.gif
AnimatedPokemon.gif
RandomizerErrorLog.txt
ThemePresets.txt